@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-image: url("car1.jpg");
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: x-large;
    background-repeat: no-repeat ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;

    max-height: 150px;
    max-width: 150px;
}

nav {
    float: right;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;


}

nav a {

    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: 	#8B0000;
}

nav a:hover {
    color: #CD1818;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #CD1818;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;

}


title1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #CD1818;
}
button{
    padding: 15px 35px;
    background-color: #CD1818;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    margin-left: 1200px;
    margin-top: 110px;


}
.contact{
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.contact .content{
    max-width:500px ;
    text-align: center;
    margin-left: 50px;
;


}
.contact h2{
    font-size: 36px;
    font-weight: 800;
    margin-left: 150px;
    color: #CD1818;


}
.contact .content p{
    font-weight: 300;
    font-size: 22px;
}
.contactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.contactContainer .contactInfo{
    width:50%;
    display: flex;
    flex-direction: column;
}
.contactContainer .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactContainer .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #CD1818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contactContainer .contactInfo .box .txt{
    display: flex;
    margin-left: 20px;
    font-size: 20px ;
    flex-direction: column;
    font-weight: 300;
}
.contactContainer .contactInfo .box .txt h3{
    font-weight: 500;
    color: #CD1818;
}
.contactForm{
    width: 25%;
    padding: 40px;
    border: 5px solid #CD1818;
    margin-left: 275px;
    margin-bottom: 100px;;
}
.contactForm h2{
    font-size: 30px;
    color: #CD1818;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input , .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:valid ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:#CD1818;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: #CD1818;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactForm h3{
    color: #CD1818;
    font-size: 30px;
}