@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url(adminback.jpg);
    background-repeat: no-repeat;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
.formContainer{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border: 4px solid #ccc;
    padding: 10px;
    height: 100%;
    background: #fff;
    border-radius: 30px;


}
.formContainer .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #8B0000;
    font-style: italic;
    padding: 10px;

}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #8B0000;
}

/*form .button{
    height: 45px;
    margin: 35px 0
}*/
form .button input{
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #8B0000;
}
form .button input:hover{
    background: #ff0000;
}
.container {

    width: 80%;
    margin: 0 auto;

}
header {
    background: black;


}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;

    max-height: 150px;
    max-width: 150px;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
    float: left;

}
nav li.log{
    float: right;
}
nav a {
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: 	#8B0000;
}

nav a:hover {
    color: #CD1818;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #CD1818;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;

}

.formLoginContainer{
    position: relative;
    top:150px;
    left: 650px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 4px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
}

input {
    display: block;
    border: 4px solid #ccc;
    width: 75%;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
}
label {
    color: #757575;
    font-size: 18px;
    padding: 10px;
}

input[type=submit] {

    background: #8B0000;
    color: white;
    border: none;
    width: 90px;
    height: 50px;
}
.formLoginContainer .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #8B0000;
    font-style: italic;
    padding: 10px;

}

a,p.acc{
    text-decoration:none ;
    font-size: 20px;
    font-weight: 500;
}


a.click:visited {color:#8B0000;}
a.click:hover {color:#CD1818;}




.box{
    align-content: center;


}

.allofit .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 300px;
    position: relative;

}
.allofit .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: lightgray;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.allofit .input-box input:focus,
.allofit .input-box input:valid{
    border-color: #8B0000;
    background-color: #fff;
}
.allofit .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form.search_box{
    padding-top: 50px;
    margin-left: 400px;
    padding-bottom: 30px;

}
.carB{
    padding-top: 10px;
    margin-left: -300px;
}

